* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    width: 200px;
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #FFA000;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: #FFA000;

}

h3 {
    font-size: 20px;
    margin: 30px 0 0;
}

.btn.btn-primary {
    background-color: #FFA000;
    border-color: #FFA000;
}