<%- include('./partials/header') %>

  <main class="container my-5 py-5 text-center">
    <h1>Contato</h1>
    <div class="alert alert-success mt-5">
      <p>Olá, <%= nome %>!</p>
      <p>Iremos responder sua mensagem no email <%= email %></p>
    </div>
  </main>
  
<%- include('./partials/footer') %>