<%- include('./partials/header') %>
<main class="container text-center py-5 my-5">

  <h1>404</h1>
  <h2>Ops, página não encontrada!</h2>
  <img src="/imagens/erro.jpg" alt="404">

</main>
<%- include('./partials/footer') %>