<%- include('./partials/header') %>

<main class="container text-center py-5 my-5">
  <h2>Obrigado por se inscrever!</h2>
  <!-- Olá usuario, sua mensagem foi recebida e responderemos no email x -->
  <h3 class="text-secondary text-lowercase">Você receberá semanalmente nosso conteúdo no email <%= email %> :)</h3>

  <a href="/" class="btn btn-secondary my-5">voltar</a>

</main>
<%- include('./partials/footer') %>