@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  border: 2px solid #ccc;
}

header h1 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  color: #555;
}

main#banner {
  background-image: url('../img/jane.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 73vh;
}

footer p {
  padding: 10px;
  margin: 0;
  background-color: #f2f2f2;
  text-align: center;
}

/* about */

main#about {
  text-align: center;
}

main#about h2 {
  font-size: 30px;
}

main#about img {
  width: 450px;
  margin: 20px auto;
}

main#about p cite {
  display: block;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
}