@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  border: 2px solid #ccc;
}

header h1 {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  color: #555;
}

section#banner {
  background-image: url('../img/jane.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 73vh;
}

footer p {
  padding: 10px;
  margin: 0;
  background-color: #f2f2f2;
  text-align: center;
}

/* about */

main#about {
  text-align: center;
}

main#about h2 {
  font-size: 30px;
}

main#about img {
  width: 450px;
  margin: 20px auto;
}

main#about p cite {
  display: block;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
}

/* home v2 */

section#concept,
section#songs,
main#contact {
  width: 900px;
  margin: 30px auto;
}

section#songs img {
  width: 100%;
}

.duas-colunas {
  overflow: hidden;
}

.duas-colunas>div {
  width: 50%;
  float: left;
}

section#songs ol li {
  padding: 15px 0;
}

section#songs ol li strong {
  color: orange;
}

/* contact v2 */

section#form-mapa iframe {
  width: 100%;
  height: 400px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 5px;
}

form .form-group {
  margin: 0 0 10px;
}

form textarea {
  resize: none;
  height: 100px;
}

form button {
  border: none;
  padding: 5px 20px;
  background-color: orange;
  color: white;
}

.mapa {
  padding-left: 20px;
}